<% action = @user.persisted? ? user_url(@user) : users_url %>

<%= form_tag(action) do %>
  <p id="notice"><%= notice %></p>

  <div class="field">
    <%= label :user, :email %><br>
    <%= email_field :user, :email  %>
  </div>
  <div class="field">
    <%= label :user, :password %><br>
    <%= password_field :user, :password %>
  </div>
  <div class="actions">
    <%= submit_tag('submit') %>
  </div>
<% end %>
