<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :album %><br>
    <%= f.collection_select(:album_id, Album.all.order(:title), :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :no %><br>
    <%= f.number_field :no %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :lyrics %><br>
    <%= f.text_area :lyrics, size: "30x6" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
